*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    font-family: Helvetica, sans-serif;
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom:1rem;
    align-items: center;
    gap: 0.5rem;
}

.addBookPopup {
    position: relative;
    text-align: center;
    width: 100%;
}
#formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

#formContainer input[type=text]{
    width: 80%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}

.formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
    background-color: white;
    max-width: 300px;
    padding: 20px;
}

.button {
    border-radius: .375rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: .75rem 1.5rem;
}

#booksList {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-left: 10px solid maroon;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
}

p {
    font-weight: 300;
}

select {
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    border: 2px solid #ccc;

}