*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    font-family: Helvetica, sans-serif;
}

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }